@model BooksListViewModel

<!-- Сайдбар с категориями книг -->
<div class="col-lg-3 bg-light mt-5">
    <aside>
        <div class="side-content">
            <div class="sidebar-title">Жанры</div>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto text-category">
                @foreach (var category in Model.Categories)
                {
                    <li>
                        <a href="#" class="nav-link link-dark">
                            @category.Name
                        </a>
                    </li>
                }
            </ul>
            <hr>
        </div>
    </aside>
</div>

<!-- Карточки книг -->
<div class="col-lg-9 mt-5">
    <div class="row">

        <!-- Карточка книги -->
        @foreach (var book in Model.Books)
        {
            <div class="col-lg-3 col-sm-6">
                <div class="product text-center">
                    <img class="card-img-top" alt="book" src="/img/books/book1.jpg">
                    <div class="card-body">
                        @book.Author <p class="card-title">@book.Name</p>
                        <h5 class="p-price">@book.Price</h5>
                        <div style="flex-wrap: wrap;">
                            <button class="buy-btn">В корзину</button>
                            <button class="read-btn">Подробней</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!-- Страницы перехода по книгам -->
        <div class="page-block">
            <div page-model="@Model.PagingInfo"
                 page-action="Index"
                 class="btn-books-page">
            </div>
        </div>

    </div>
</div>


