@model CartIndexViewModel

<link rel="stylesheet" href="~/css/shopping_cart.css">

<!-- Корзина покупателя -->
<main>
    <div class="container">
        <div>

            <!-- Заголовок -->
            <div class="main-title">
                <h4>Корзина покупателя</h4>
            </div>

            <!-- Таблица с товарами покупателя -->
            <table class="table table-hover">
                <thead class="table-title">
                    <tr>
                        <th>Автор</th>
                        <th>Название книги</th>
                        <th>Категория</th>
                        <th>Количество</th>
                        <th>Цена</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.Cart.Lines)
                    {
                        <tr>
                            <td>@line.Book.Author</td>
                            <td>@line.Book.Name</td>
                            <td>@line.Book.Category.Name</td>
                            <td>@line.Quantity</td>
                            <td>@((line.Quantity * line.Book.Price).ToString("c"))</td>
                            <td>
                                <form asp-action="RemoveFromCart" method="post">
                                    <input type="hidden" name="Id"
                                           value="@line.Book.Id" />
                                    <input type="hidden" name="returnUrl"
                                           value="@Model.ReturnUrl" />
                                    <button class="delete-btn" type="submit">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>

                <tfoot>
                    <tr class="table-active">
                        <td colspan="4"></td>
                        <td class="footer-text">
                            <span class="total-text">Итог:</span>
                            @Model.Cart.ComputeTotalValue().ToString("c")
                        </td>
                    </tr>
                </tfoot>

            </table>

            <!-- Кнопки -->
            <div class="row justify-content-center block-btn">
                <div class="col-lg-3 col-md-4 col-sm-6 text-end">
                        <a class="order-btn"
                           asp-action="Checkout"
                           asp-controller="Order">Заказать все</a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-start">
                    <form action="/">
                        <button class="back-btn" type="submit">На главную</button>
                    </form>
                </div>
            </div>


        </div>

    </div>

</main>