@model Book

@{
    Layout = "_AdminLayout";
}

<link rel="stylesheet" href="~/css/admin/admin_book_description.css">


<!-- Страница полного описания книги -->
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h3>Полная информация ID: @Model.Id</h3>
    </div>

    <!-- Подробная информация о книге -->
    <div class="block-table ">
        <table class="table table-sm table-borderless">
            <thead>
                <tr class="title">
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="col1">ID:</th>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <th class="col1">Название:</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th class="col1">Автор:</th>
                    <td>@Model.Author</td>
                </tr>

                <tr>
                    <th class="col1">Цена:</th>
                    <td>@Model.Price.ToString("c")</td>
                </tr>
                <tr>
                    <th class="col1">Категория:</th>
                    <td>@Model.Category.Name</td>
                </tr>
                <tr>
                    <th class="col1">Издательство:</th>
                    <td>@Model.Publisher</td>
                </tr>
                <tr>
                    <th class="col1">Количество страниц:</th>
                    <td>@Model.PageCount</td>
                </tr>
                <tr>
                    <th class="col1">Тираж:</th>
                    <td>@Model.Circulation</td>
                </tr>
                <tr>
                    <th class="col1">Год издания:</th>
                    <td>@Model.YearPublishing</td>
                </tr>

                <tr>
                    <th class="col1">Обложка:</th>
                    <td>
                        <img style="width:210px; height: 350px;" src=@("data:image/jpeg;base64," + Convert.ToBase64String(Model.Image))  alt="">
                    </td>
                </tr>
                <tr>
                    <th class="col1">Аннотация:</th>
                    <td>@Model.Annotation</td>
                </tr>



            </tbody>
        </table>
    </div>

    <!-- Кнопка Редактировать книгу -->
    <div class="block-btn text-center">
        <a class="update-btn" asp-action="Edit" asp-route-Id="@Model.Id">Редактировать данные</a>
    </div>

</main>